@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    }

    @font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0 auto;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
}

.intro_bg{
    width: 100%;
    height: 300px;
    background-color: lightblue;
}

.intro_text{
    width: 100%;
    background-color: violet;
    text-align: center;
    position: relative;
    top: 100px;    
}

.intro_text > h1 {
    font-family: '국립박물관문화재단클래식B';
}

.intro_text > h4{
    font-family: 'HallymMjo-Regular';
}

.intro_bg{
    background-image: url(../img/loginmain/maintitle4.png);
    background-size: 100% 500px;
}

.intro_text{
    background-color: transparent;
}
.intro_text > h1 ,  .intro_text > h4{
    color: white;
}

/* intro_bg 끝 */

.container{
    width: 100%;
    padding-top: 50px;
    flex-wrap: wrap;
}

.item_list{
    width: 100%;
    display: flex;
}

.card{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 680px;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
    margin-top: 30px;
}

.img {
    width: 80%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text{
    width: 90%;
    height: 42%;
    margin-left: 15px;
    margin-right: 15px;
}

.text > h2{
    font-family: '국립박물관문화재단클래식B';
    font-size: 30px;
    padding-top: 20px;
}

.text p{
    font-family: 'Cafe24Oneprettynight';
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
}

button{
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 20px;
    font-family: 'HallymMjo-Regular';
    transition: .5s ease;
    cursor: pointer;
}

button:hover{
    transition: .5 ease;
    border: 2px solid black;
    background: transparent;
    color: black;
}

/* 게시판 내용 끝 */

.div_paging{
    clear: both;
    width: 100%;
    height: 100px;
    text-align:center;
	font-size:0;
}
.page_nation{
    display:inline-block;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 30px;
    margin-left: 150px;
}

.page_nation > a{
    font-family: 'HallymMjo-Regular';
    display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color: black;
	text-decoration:none;
}

.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

/* 페이징 끝 */
